@import "tailwindcss";

@theme {
  --color-primary: #2B3210;
  --color-secondary: #505631;
  --color-accent: #DE6E27;
  --color-surface: #E5E2D9;
  --color-background: #FBF8EF;

  --font-sans: var(--font-dm-sans), sans-serif;
  --font-serif: var(--font-playfair-display), serif;

  --animate-fade-in-up: fadeInUp 0.8s ease-out forwards;

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

:root {
  --background: #FBF8EF;
  --foreground: #2B3210;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

.custom-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%23505631' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  appearance: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}